#header {
	background-color: #111;
	text-align: center;
	padding: 0.5em;
}
#main {
	margin: 0em 1em;
}
body {
	background:#000;
    	color: #bdbdbd;
	font-family: "Consolas","Lucida Console","DejaVu Sans Mono Book",monospace;
	font-size: 0.875em;
	margin: 0em;
}
a {
	color: #04a5e5;
}
